@font-face {
  font-family: 'Raleway-Light';
  src: url('/public/fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

